# Reading Aircraft DB from Open Sky

In [1]:
import pandas as pd

In [2]:
# read CSV to DataFrame
acdb = pd.read_csv('aircraftDatabase.csv')

/home/mcoffey/anaconda3/envs/lhl_env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3172: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# read list of target tail numbers from txt file
tailno_list = open("tailno.txt").read().splitlines()

In [4]:
# instantiate collector dataframe
aircraft = pd.DataFrame(columns=acdb.columns)

In [5]:
# iterate through target tail numbers, adding valid rows to collector dataframe
for tailno in tailno_list:
    aircraft = pd.concat([aircraft, acdb[acdb.registration == tailno]], ignore_index=True)

In [6]:
# missing data
total = aircraft.isnull().sum().sort_values(ascending=False)
percent = (aircraft.isnull().sum()/aircraft.isnull().count() * 100).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data.head(20)

                     Total     Percent
status                6181  100.000000
notes                 6181  100.000000
testreg               6181  100.000000
seatconfiguration     6181  100.000000
linenumber            6175   99.902928
registered            6174   99.886750
firstflightdate       6154   99.563177
operatoriata          4907   79.388448
operator              4829   78.126517
categoryDescription   1976   31.968937
built                  791   12.797282
engines                767   12.408995
reguntil               672   10.872027
icaoaircrafttype       623   10.079275
manufacturericao       621   10.046918
typecode               604    9.771882
operatoricao           216    3.494580
operatorcallsign       216    3.494580
serialnumber             9    0.145608
manufacturername         8    0.129429

In [7]:
# drop unwanted features
aircraft.drop(['status', 'notes', 'testreg', 'seatconfiguration', 'linenumber', 'registered', 'firstflightdate', 'operatoriata', 'operator', 'categoryDescription', 'engines', 'reguntil', 'icaoaircrafttype', 'manufacturericao', 'operatoricao', 'operatorcallsign', 'serialnumber', 'model', 'typecode', 'owner', 'modes', 'adsb', 'acars'], axis=1, inplace=True)

In [8]:
aircraft.head()

   icao24 registration               manufacturername       built
0  a00b91       N10156                        Embraer  2004-01-01
1  a008c9       N101DU   C Series Aircraft Ltd Ptnrsp  2018-01-01
2  a00929       N101HQ  Embraer-empresa Brasileira De  2007-01-01
3  a009a4       N101NN               Airbus Industrie  2013-01-01
4  a00c80       N102DU   C Series Aircraft Ltd Ptnrsp         NaN

In [9]:
aircraft.shape

(6181, 4)

In [10]:
aircraft.to_csv('aircraft.csv')